<footer>
  <style>
    footer{
      
    @media(max-width:350px){
     footer p {
       font-size: medium !important;
      }
    }
  </style>
  <div class="footer bg-transparent  text-dark p-3 mx-auto position-relative">
    <div id="footer-wrapper" class="d-flex justify-content-center align-items-center">
      <p class="text-muted text-center w-100  ">
         &copy; All rights reserved 
      </p>
      <div class="position-absolute   end-0  mx-4">
        <a href="#"> <i class="fas fa-caret-up text-white fa-2x"></i></a>
      </div>
    </div>
  </div>
</footer>
